

body{
	font-family: helvetica;
	line-height: 2em;
}

.navbar{
	width: 100%;
	margin-bottom: 0;
	position: fixed;
	z-index: 2;
	/*opacity: .8;*/
}


.jumbotron{
	margin-top: 0;
	width: 100%;
	height: 450px;
	background-image: url(../img/pride.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: 0 70%;
	/*background-repeat: repeat-y;*/
	color: #424242;
	/*position: relative;*/
}

.siteinfo{
	line-height: 1.5em;
}

.siteinfo a{
	font-size: 14px;
}

.row{
	margin-top: 20px;
}






